.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}*/

.App-header {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.Pun {
  padding: 5px;
  color: white;
}

form {
  padding: 25px;
  font-size: 20px;
}

input {
  margin: 10px;
  height: 20px;
}

.tagline {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.main-card {
  max-width: 600px;
  height: 500px;
  margin: auto;
  margin-top: 5%;
  padding-top: auto;
  padding-bottom: auto;
  vertical-align: middle;
  position: relative;
}

.results-card {
  max-width: 600px;
  max-height: 500px;
  margin: auto;
  margin-top: 5%;
  padding-top: auto;
  padding-bottom: auto;
  vertical-align: middle;
  position: relative;  
}

.card-media {
  height: 300px;
}

.results {
  padding-top: 20px;
}

.pun-list {
  padding: 10px;
  margin: 25px;
  width: 200px;
  height: 155px;
  display: inline-block;
  overflow-y: scroll !important;
}

.pun-type {
  margin-top: 10px
}

.loader {
  margin-top: 5%;

}